# Python Caches
__pycache__/
*.py[cod]
*$py.class
.mypy_cache/
.pytest_cache/
.ruff_cache/

# PDM & Virtual Environments
.pdm-python
.pdm-build/
.venv/
venv/
ENV/

# OS Files (Mac/Windows Müll)
.DS_Store
Thumbs.db
# Streamlit Secrets (Passwörter)
.streamlit/secrets.toml